/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.03.2016, 18:29:39
    Author     : k.gubaidulin
*/

body, #mainWrapper {
    height: 70%;
    background-color:rgb(245, 245, 245);
    padding: 0px 50px 0px;
}

.tablecontainer{
    padding-left: 20px;
}